#
# IntelliJ IDEA config
#
.idea

#
# Swift
#
.DS_Store
# user data for each person who opens xcode
xcuserdata/**

#
# MkDocs build dir
#
/site/

#
# Node.js
#
node_modules

#
# Enviornment Variables for database confidential information
#
.env

#
# Things that should live exclusively server side
#
./src/backend/event_data.json